 body {
    background-image: url("IMAGENES/header_img.png");
    background-repeat: no-repeat;
    background-size: cover;
 }

html {

    background-image: url("IMAGENES/header_img.png");
    background-repeat: no-repeat;
    background-size: cover;

}

 .bienvenida{
    color: rgb(255, 255, 255);
    text-align: center;
 }

 .tabla_login{
    background-color: hsl(0, 0%, 0%,0.75);
    margin-left: 30%;
    width: max-content;
    text-align: center;
    
 }
 .inputs{
    color: white;
    font-size: x-large;
 }
 
 .forgot{
    color: rgb(255, 255, 255);
 }
